# Ignorer les fichiers système Windows
*.log
*.dat
*.ini
.DS_Store

# Ignorer les dossiers personnels
AppData/
OneDrive/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/

# Exclure tous les fichiers sauf le dossier satureja path
../../*
!.gitignore
!satureja path/
